{% extends "base.html "%}

{% block conteudo %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Atualizações</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Noticias<small class="text-body-secondary fw-light">/dia</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">em branco</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Projeto em criação</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">novas ideias<small class="text-body-secondary fw-light">/dia</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">em branco</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Possiveis ideias</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">em branco<small class="text-body-secondary fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
          <li>em branco</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">em branco</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}